# Binaries
bin/
gochat

# Local database and uploaded data
# (If you want to keep your project clean for others, ignore the data folder)
# data/
# chat.db

# Large files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
